div
{
	width: 780px;
	height: auto;
	margin:auto;
	border: solid;
	border-width: 5px;
	border-radius: 5px;
	border-color: #3388CC;
	box-shadow: 10px 2px 5px black;
}
div.le
{
	height: 400px;
	width: 700px;
	border: solid;
	border-color: #3388CC;
	border-width: 5px;
	border-radius: 5px;
	margin-left: 30px; 
	margin-right: 30px; 
	margin-top: 30px; 
	box-shadow: 10px 2px 5px black;
}
header
{
	height: 250px;
	width: 200px;
	border: solid;
	border-width: 5px;
	border-radius: 5px;
	border-color: #3388CC;
	float: left;
	margin-left:20px; 
	margin-top: 60px; 
	box-shadow: 10px 2px 5px black;

}
aside
{
	height: 250px;
	width: 250px;
	float: left;
	border: solid;
	border-width: 5px;
	border-radius: 5px;
	border-color: #3388CC; 
	margin-left: 200px; 
	margin-top: 60px; 
	box-shadow: 10px 2px 5px black;
}
section
{
	height: 400px;
	width: 700px;
	border: solid;
	border-color: #3388CC; 
	border-width: 5px;
	border-radius: 5px;
	margin-left: 60px; 
	margin-left: 30px; 
	margin-right: 30px; 
	margin-top: 30px; 
	box-shadow: 10px 2px 5px black;
}
article.un{
	height: 250px;
	width: 200px;
	float: left;
	border: solid;
	border-color: #3388CC; 
	border-width: 5px;
	border-radius: 5px;
	text-align: center
	box-shadow: 10px 2px 5px black;
	margin-left: 30px;
} 
article.deux{
	height: 250px;
	width: 400px;
	float: left;
	border-width: 5px;
	border-radius: 5px;
	border: solid;
	border-color: #3388CC;
	margin-left: 30px;
	box-shadow: 10px 2px 5px black;;
}
h2
{
	margin-left: 30px;
}
h2.nom
{
	margin-left: 0px;
}