body{
    background-color: #9F84BD;
}

header{
    text-align: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border: 7px double #C09BD8;
    width: 98%;
    margin: 5px;
    margin-bottom:10px;
    color: #C09BD8;
    display: inline-block;
    font-weight: 800;
    font-size: 60%;
    background-color: #EDE3E9;
    height: 70px;

}


div.cont{
    border: 10px solid #C09BD8;
    background-color:  #EDE3E9;
    height: 670px;
    width: 97.3%;
    display: flex;
    margin: 5px;
    margin-right: 5%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
    
}

div.cont1{
    border: 10px solid  #C09BD8;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    width: 20%;
    margin: 20px;
    height: 600px;
    }



img.ph{
    position: relative;
    top: 0px;
    float: right;
    margin-left: auto;
    width: 100px;
    height: 135px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border: 3px solid #C09BD8 ;
}




iframe.icont{
    border: 5px solid #C09BD8;
    background-color: #EDE3E9 ;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 5px;
    width: 50%;
    height: 580px;
    margin: auto;

}



footer{
    text-align: center;
    border: 7px double #C09BD8;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    width: 98%;
    margin: 5px;
    margin-bottom:10px;
    color: #C09BD8;
    display: inline-block;
    font-weight: 800;
    font-size: 60%;
    background-color:  #EBC3DB;
    height: 70px;

}

button { 
    background-color: #EBC3DB;
    border: 2px solid #8b8a1b;
    border-radius: 30px;
    box-shadow: #8b8a1b 2px 2px 0 0;
    color: #8b8a1b;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: 60%;
    padding: 0 18px;
    line-height: 100%;
    height: 12%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    text-decoration: none;
    text-shadow: 1px 1px 1px #8ba915, 0 0 1px yellow, 0 0 1px yellow;
    user-select: none;
    transition: 0.1s;
    width: 70%;
    margin:10px 0px 0px 14%  ;
}
  
  
button:hover {
    background-color: #EBC3DB;
    transform: translate(2px, 2px);
    box-shadow: none;
    transition: 0.3s;
  } */

div#menu{
    width: 100px;
}
div#menu ul{
    padding: 8px;
    width: 100px;     
}

div#menu ul li{
    position: relative;
    list-style: none;
    border-bottom: 1px solid;
}
div#menu ul ul{
    position: absolute;
    top: 0;
    left: 100px;
}


div#menu ul ul{
    position: absolute;
    top: 0;
    left: 113px;
    display: none;

}

div#menu ul.niveau1 li#sousmenu:hover ul.niveau2,
div#menu ul.niveau2 li#sousmenu:hover ul.niveau3
{
    display: block;

}

div#menu ul li.style1{
    background-color: #EBC3DB;
    border: 2px solid #9F84BD;
    border-radius: 4px;
    box-shadow: #9F84BD 2px 2px 0 0;
    color: #EDE3E9;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: 100%;
    padding: 3px 18px;
    line-height: 200%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    text-decoration: none;
    text-shadow: 1px 1px 1px #8ba915, 0 0 1px yellow, 0 0 1px yellow;
    user-select: none;
    transition: 0.1s;
    width:100%;
    margin: 0px 100px 0px 15%  ;
}

div#menu ul li.style1:hover{
    background-color: #EDE3E9;
    transform: translate(2px, 2px);
    box-shadow: none;
    transition: 0.3s;
}

div#menu ul li.style2{
    background-color: #EBC3DB;
    border: 2px solid #9F84BD;
    border-radius: 4px;
    box-shadow: #9F84BD 2px 2px 0 0;
    color: #EDE3E9;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: 60%;
    padding: 3px 18px;
    line-height: 200%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    text-decoration: none;
    text-shadow: 1px 1px 1px #8ba915, 0 0 1px yellow, 0 0 1px yellow;
    user-select: none;
    transition: 0.1s;
    width: 100%;
    margin: 0px 100px 0px 15%  ;
}

div#menu ul li.style2:hover{
    background-color: #EDE3E9;
    transform: translate(2px, 2px);
    box-shadow: none;
    transition: 0.3s;
}




div#menu ul li:hover {
    border-right-color: rgb(187, 255, 0);
}
div#menu ul ul li:hover{
    border-left-color: #6c6b27;
    border-right-color: #6c6b27 ;
}
div#menu ul ul ul li:hover{
    border-left-color: #403f11;
}

@media screen and (max-width: 850px) {
    div.cont{
        height: 800px;
    }
  

    iframe.icont{
        width: 98%;

    }
    
    div#menu ul ul{
        position: absolute;
        top: 0;
        left: 53px;
        display: none;
    
    }

    
}

@media screen and (max-width: 600px) {
    iframe.icont{
        width: 98%;

    }

    img.ph{
        display: none;
    }
    
    
    
    div#menu ul ul{
        left: 12px;
    
    } 

}

@media screen and (max-width: 465px){
    iframe.icont{
        width: 68%;
    }

}

@media screen and (max-width: 425px){
    div.cont{
        height: 710px;
        width: 96%;
    }
    iframe.icont{
        width: 67%;
    }
    
}